.gradle/
gradle/
.idea/**
!.idea/codeStyles/
!.idea/codeStyles/*
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/*
!.idea/runConfigurations/
!.idea/runConfigurations/*
!.idea/codeStyleSettings.xml
build/
classes/
node_modules/
gradlew
gradlew.bat
*.iml

out/
